Source: gmysqlcc
Section: x11
Priority: optional
Maintainer: Didier Prolhac <gmysqlcc@thepozer.net>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev (>= 2.4.0), libmysqlclient-dev (>= 3.23.0), libgtksourceview-dev (>= 1.0.0)
Standards-Version: 3.6.1

Package: gmysqlcc
Architecture: any
Depends: libgtk2.0-0 (>= 2.4.0), libmysqlclient12 (>= 4.0.0), libgtksourceview1.0-0 (>= 1.0.0)
Description: GTK+ Native Mysql client
 This program is a native MySQL client written in C/GTK.
